<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        .lg-btn{
        width:200px;
        height:150px;
          background-color: DodgerBlue;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 55px 30px 30px 30px;
  font-size: 16px;
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
  text-decoration:none;
  border-radius: 12px;
        }

        .lg-btn:hover {
  background-color: RoyalBlue;
}
.col{
text-align: center;


}



    </style>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/081cab5b4f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
{% include 'Navbar.html' %}
<br>
<br>
<br>
<br>
<br>
<br>
<form method="POST" enctype="multipart/form-data" >{% csrf_token %}
<div class="container-fluid">
<!--    <img src="{% static 'Patient-Portal-New.png' %}" alt="" style="width: 100%; height:500px">-->
<!--        <div class="top-left">-->
            <div class="row">
                <div class="col">
                    <a href="http://127.0.0.1:8000/PP_app/login/" type="submit" class="lg-btn"><i class="fa-solid fa-bed"></i>PATIENT</a>
                </div>
                <div class="col">
                    <a href="http://127.0.0.1:8000/PP_app/profile/" type="submit" class="lg-btn"><i class="fa-solid fa-user-doctor"></i>DOCTOR</a>
                </div>
                <div class="col">
                    <a href="" type="submit" class="lg-btn"><i class="fa-regular fa-screwdriver-wrench"></i>ADMIN</a>
                <div class="col">
            </div>
<!--        </div>-->
            <br>
                    <br>
            <br>
            <br><br>

</div>
        <br>

<br>

</form>
{% include 'footer.html' %}
</body>

</html>